In [1]:
import os
os.chdir("C:\\Users\\Pc\\Desktop\\Projet DM&DV")
cwd = os.getcwd()
cwd

'c:\\Users\\Pc\\Desktop\\Projet DM&DV'

In [2]:
import pandas as pd
df_Vehicles = pd.read_csv('Vehicles0514.csv', header = 0, sep=',')
df_Casualties = pd.read_csv('Casualties0514.csv', header = 0, sep=',')
df_Accidents = pd.read_csv('Accidents0514.csv', header = 0, sep=',')

C:\Users\Pc\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_Casualties

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
1,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
2,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
3,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
4,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216715,2014984137714,1,1,2,2,16,4,3,0,0,2,0,0,9,1
2216716,2014984138414,1,1,1,1,27,6,3,0,0,0,0,0,9,1
2216717,2014984138414,2,2,1,1,44,7,2,0,0,0,0,0,19,1
2216718,2014984139614,1,2,2,1,61,9,3,0,0,0,4,0,11,2
2216719,2014984139614,2,1,1,1,79,11,3,0,0,0,0,0,9,3

In [4]:
df_Vehicles

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004420,2014984138414,1,9,0,5,0,6,0,0,0,...,1,2,1,27,6,1781,1,12,6,1
3004421,2014984138414,2,19,0,18,0,1,1,4,7,...,1,2,1,44,7,1686,2,4,1,1
3004422,2014984138414,3,9,0,18,0,2,1,4,1,...,1,6,1,73,10,2143,2,-1,8,3
3004423,2014984139614,1,11,0,9,0,8,0,0,0,...,1,1,1,40,7,4500,2,4,-1,3
3004424,2014984139614,2,9,0,18,0,1,0,0,0,...,1,6,1,79,11,1398,2,11,-1,3

In [5]:
df_Accidents

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640592,2014984136414,310037.0,597647.0,-3.417278,55.264773,98,2,2,1,07/12/2014,...,0,0,6,3,3,0,0,2,1,NaN
1640593,2014984137514,321509.0,574063.0,-3.230255,55.054855,98,3,2,2,11/12/2014,...,0,0,6,1,3,0,0,2,1,NaN
1640594,2014984137714,321337.0,566365.0,-3.230826,54.985668,98,3,1,1,09/12/2014,...,0,0,4,1,4,0,0,2,1,NaN
1640595,2014984138414,323869.0,566853.0,-3.191397,54.990446,98,2,3,2,17/12/2014,...,0,0,6,2,2,0,0,2,1,NaN
1640596,2014984139614,314072.0,579971.0,-3.348426,55.106700,98,3,2,2,24/12/2014,...,0,0,1,1,2,0,0,2,1,NaN

In [6]:
df_Accidents.isnull().sum()

Accident_Index                                      0
Location_Easting_OSGR                             111
Location_Northing_OSGR                            111
Longitude                                         111
Latitude                                          111
Police_Force                                        0
Accident_Severity                                   0
Number_of_Vehicles                                  0
Number_of_Casualties                                0
Date                                                0
Day_of_Week                                         0
Time                                              133
Local_Authority_(District)                          0
Local_Authority_(Highway)                           0
1st_Road_Class                                      0
1st_Road_Number                                     0
Road_Type                                           0
Speed_limit                                         0
Junction_Detail                                     0
Junction_Control                                    0
2nd_Road_Class                                      0
2nd_Road_Number                                     0
Pedestrian_Crossing-Human_Control                   0
Pedestrian_Crossing-Physical_Facilities             0
Light_Conditions                                    0
Weather_Conditions                                  0
Road_Surface_Conditions                             0
Special_Conditions_at_Site                          0
Carriageway_Hazards                                 0
Urban_or_Rural_Area                                 0
Did_Police_Officer_Attend_Scene_of_Accident         0
LSOA_of_Accident_Location                      120574
dtype: int64

In [7]:
df_Accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640597 entries, 0 to 1640596
Data columns (total 32 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   Accident_Index                               1640597 non-null  object
 1   Location_Easting_OSGR                        1640486 non-null  float64
 2   Location_Northing_OSGR                       1640486 non-null  float64
 3   Longitude                                    1640486 non-null  float64
 4   Latitude                                     1640486 non-null  float64
 5   Police_Force                                 1640597 non-null  int64
 6   Accident_Severity                            1640597 non-null  int64
 7   Number_of_Vehicles                           1640597 non-null  int64
 8   Number_of_Casualties                         1640597 non-null  int64
 9   Date                                         1640597 non-null  object
 10  Day_of_Week                                  1640597 non-null  int64
 11  Time                                         1640464 non-null  object
 12  Local_Authority_(District)                   1640597 non-null  int64
 13  Local_Authority_(Highway)                    1640597 non-null  object
 14  1st_Road_Class                               1640597 non-null  int64
 15  1st_Road_Number                              1640597 non-null  int64
 16  Road_Type                                    1640597 non-null  int64
 17  Speed_limit                                  1640597 non-null  int64
 18  Junction_Detail                              1640597 non-null  int64
 19  Junction_Control                             1640597 non-null  int64
 20  2nd_Road_Class                               1640597 non-null  int64
 21  2nd_Road_Number                              1640597 non-null  int64
 22  Pedestrian_Crossing-Human_Control            1640597 non-null  int64
 23  Pedestrian_Crossing-Physical_Facilities      1640597 non-null  int64
 24  Light_Conditions                             1640597 non-null  int64
 25  Weather_Conditions                           1640597 non-null  int64
 26  Road_Surface_Conditions                      1640597 non-null  int64
 27  Special_Conditions_at_Site                   1640597 non-null  int64
 28  Carriageway_Hazards                          1640597 non-null  int64
 29  Urban_or_Rural_Area                          1640597 non-null  int64
 30  Did_Police_Officer_Attend_Scene_of_Accident  1640597 non-null  int64
 31  LSOA_of_Accident_Location                    1520023 non-null  object
dtypes: float64(4), int64(23), object(5)
memory usage: 400.5+ MB

In [8]:
df_Casualties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216720 entries, 0 to 2216719
Data columns (total 15 columns):
 #   Column                              Dtype
---  ------                              -----
 0   Accident_Index                      object
 1   Vehicle_Reference                   int64
 2   Casualty_Reference                  int64
 3   Casualty_Class                      int64
 4   Sex_of_Casualty                     int64
 5   Age_of_Casualty                     int64
 6   Age_Band_of_Casualty                int64
 7   Casualty_Severity                   int64
 8   Pedestrian_Location                 int64
 9   Pedestrian_Movement                 int64
 10  Car_Passenger                       int64
 11  Bus_or_Coach_Passenger              int64
 12  Pedestrian_Road_Maintenance_Worker  int64
 13  Casualty_Type                       int64
 14  Casualty_Home_Area_Type             int64
dtypes: int64(14), object(1)
memory usage: 253.7+ MB

In [9]:
df_Vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3004425 entries, 0 to 3004424
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Accident_Index                    object
 1   Vehicle_Reference                 int64
 2   Vehicle_Type                      int64
 3   Towing_and_Articulation           int64
 4   Vehicle_Manoeuvre                 int64
 5   Vehicle_Location-Restricted_Lane  int64
 6   Junction_Location                 int64
 7   Skidding_and_Overturning          int64
 8   Hit_Object_in_Carriageway         int64
 9   Vehicle_Leaving_Carriageway       int64
 10  Hit_Object_off_Carriageway        int64
 11  1st_Point_of_Impact               int64
 12  Was_Vehicle_Left_Hand_Drive?      int64
 13  Journey_Purpose_of_Driver         int64
 14  Sex_of_Driver                     int64
 15  Age_of_Driver                     int64
 16  Age_Band_of_Driver                int64
 17  Engine_Capacity_(CC)              int64
 18  Propulsion_Code                   int64
 19  Age_of_Vehicle                    int64
 20  Driver_IMD_Decile                 int64
 21  Driver_Home_Area_Type             int64
dtypes: int64(21), object(1)
memory usage: 504.3+ MB

In [34]:
List = [df_Accidents, df_Casualties, df_Vehicles]
for j in range(0, len(List)):
    df_Accidents_columnslist = List[j].columns.copy()
    for i in range(0, len(df_Accidents_columnslist)):
        if List[j][df_Accidents_columnslist[i]].isnull().sum() != 0:
            print(df_Accidents_columnslist[i] , List[j][df_Accidents_columnslist[i]].isnull().sum())
            print("------------------------------------")
        i+=1
    j+=1
print("--End--")

Location_Easting_OSGR 111
------------------------------------
Location_Northing_OSGR 111
------------------------------------
Longitude 111
------------------------------------
Latitude 111
------------------------------------
Time 133
------------------------------------
LSOA_of_Accident_Location 120574
------------------------------------
--End--

In [46]:
import numpy as np
df_Accidents_copie = df_Accidents.copy()
for i in [df_Accidents_copie["Location_Easting_OSGR"],df_Accidents_copie["Location_Northing_OSGR"], df_Accidents_copie["Longitude"],df_Accidents_copie["Latitude"]]:
    i.fillna(np.mean(i), inplace = True)
df_Accidents_copie.drop(['LSOA_of_Accident_Location'],axis='columns', inplace=True)
df_Accidents_copie.isnull().sum()

Accident_Index                                   0
Location_Easting_OSGR                            0
Location_Northing_OSGR                           0
Longitude                                        0
Latitude                                         0
Police_Force                                     0
Accident_Severity                                0
Number_of_Vehicles                               0
Number_of_Casualties                             0
Date                                             0
Day_of_Week                                      0
Time                                           133
Local_Authority_(District)                       0
Local_Authority_(Highway)                        0
1st_Road_Class                                   0
1st_Road_Number                                  0
Road_Type                                        0
Speed_limit                                      0
Junction_Detail                                  0
Junction_Control                                 0
2nd_Road_Class                                   0
2nd_Road_Number                                  0
Pedestrian_Crossing-Human_Control                0
Pedestrian_Crossing-Physical_Facilities          0
Light_Conditions                                 0
Weather_Conditions                               0
Road_Surface_Conditions                          0
Special_Conditions_at_Site                       0
Carriageway_Hazards                              0
Urban_or_Rural_Area                              0
Did_Police_Officer_Attend_Scene_of_Accident      0
dtype: int64